.form__group {
    position: absolute;
    padding: 15px 0 0;
    width: 50%;
    margin-top: 300px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #09a09b;
    outline: 0;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: #09a09b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color:#0fffcf;;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #fc49029f, #07fff7);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #014C4A;
    font-weight: 700;
}

.profile_form__field {
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #09a09b;
    outline: 0;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: #09a09b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}