<html>
  <head>
    <title>Accesso Consentito</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f4;
      }

      .container {
        text-align: center;
      }

      #timer {
        font-size: 30px;
        font-weight: bold;
        color: #333;
      }

      #avatar {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Accesso consentito</h1>
      <p>La pagina si chiudera tra <span id="timer">5</span> secondi.<br> Oppure puoi chiuderla direttamente</p>

      <!-- Aggiungi un'immagine per verificare se il link è valido -->
      <div id="avatar">
        <h2>Immagine dell'utente:</h2>
        <img id="avatarImage" src="" alt="Avatar" width="100">
      </div>

      <script>
        const userData = {
          name: "<%= user_data_js[:name] %>",
          email: "<%= user_data_js[:email] %>",
          image: "<%= user_data_js[:image] %>",
          login_name: "<%= user_data_js[:login_name] %>"
        };

        // Imposta l'immagine
        const avatarImage = document.getElementById('avatarImage');
        if (avatarImage) {
          avatarImage.src = userData.image;
        }

        window.onbeforeunload = function() {
          window.opener.postMessage(userData, window.location.origin);
          sendAuthMessage();
        };

        let countdown = 5;
        const timerElement = document.getElementById('timer');
        function sendAuthMessage() {
          if (window.opener) {
            window.opener.postMessage({
              authenticated: true,
              user: userData
            }, window.location.origin);
          } else {
            console.error('window.opener non trovato');
          }
        }

        const timerInterval = setInterval(function() {        
          countdown--;
          timerElement.textContent = countdown;

          if (countdown === 0) {
            clearInterval(timerInterval);
            sendAuthMessage();
            window.opener.postMessage({
              authenticated: true,
              user: userData
            }, window.location.origin);
            window.close();
          }
        }, 1000);
      </script>
    </div>
  </body>
</html>
