#main_pageCanvas, #gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bracketCanvas {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

#rankingRobinCanvas {
    position: relative;
    top: -100px;
    background-color: rgba(9, 160, 155, 0.1);
    box-shadow: 0 0 8px rgba(9, 160, 155, 0.3);
}

#tournamentBracket {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 100%;
}